* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.parrafo1,
.parrafo2,
.parrafo3 {
    padding: 1vw;
    border: 1px solid black;
    background-color: beige;
    overflow: hidden;
}

.parrafo1 {
    white-space: nowrap;
}

.parrafo2 {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.parrafo3 {
    line-height: 1.5em;
    letter-spacing: 1px;
    word-spacing: 1em;
}

section div {
    height: fit-content;
    width: 250px;
    margin: 1vw;
    padding: 1vw;
    background-color: grey;
    border: 1px solid black;
    border-radius: 2vw;
    text-align: justify;

    display: flex;
    flex-direction: column;
}

section div button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    /* margin-left: auto; */
}

.parrafo4-short {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}


