ul {
    list-style: none;
    margin: none;
    padding: none;
    padding-inline-start: 0;
}

li {
    // display: flex;
    margin: none;
    padding: none;

    button {
        align-self: center;
    }
}

textarea {
    width: 80vw;
    height: 100px;
}

.btn-list {
    margin: 5px 5px 5px 0;
    // display: inline;
}

h3 {
    margin-top: 5vh;
}