* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    margin: 1vw;

    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 7vw;
}

.card {
    height: 100px;
    width: 250px;
    border: 1px dotted black;
    position: relative;
}

.card img {
    height: 100%;
    width: 100%;
}

.card:first-of-type p {
    color: white;
    position: absolute;
    z-index: 2;
}

.card:first-of-type img {
    position: absolute;
    z-index: 1;
    object-fit: fill;
}


.card:nth-last-of-type(2) img {
    object-fit: cover;
    object-position: top left;
}

.card:nth-last-of-type(3) img {
    object-fit: contain;
    object-position: 5px 50px;
}

.card:nth-last-of-type(4) img {
    object-fit: none;
    object-position: top;
}





